body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  color: black;
  border-left: 1px solid black;
  padding: 15px; 
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 5;
  border-bottom: 10px solid black;
}

.time-block {
  text-align: center;
  border-radius: 20px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: black;
  border-top: 1px dashed #000000;
  font-size: larger;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: rgba(0, 106, 255, 0.759);
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 30px;
  transition: all 0.2s ease-in-out;
}